.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #fff1e8;
  flex-wrap: wrap; /* Allow content to wrap on smaller screens */
}

.hero-content {
  flex: 1;
  margin-bottom: 30px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #000;
  padding-right: 510px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #333;
  max-width: 500px;
}

.join-button {
  padding: 10px 20px;
  background: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease, transform 0.3s ease;
}

.join-button:hover {
  background: #e94e3b;
  transform: scale(1.05);
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .hero {
    padding: 20px;
    flex-direction: column; /* Stack content vertically */
    text-align: center;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 16px;
    max-width: 100%; /* Full width for smaller screens */
  }

  .join-btn {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .hero-content h1 {
    font-size: 28px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .join-btn {
    font-size: 14px;
    padding: 8px 20px;
  }
}
