.start{
    background-color: #CAEF46;  
    display: flex;
    /* margin-bottom: 15rem; */
}

.development{
margin-left: 10rem;
padding: 5rem 5rem;
}

.side-image{
    margin-left: 16rem;
}

.development a {
    color: black;
}